<nav class="navbar">
    <div class="logo">
        <a href="{{ .Site.BaseURL }}">
            <img src="/images/logo.png" alt="{{.Site.Title}}">
        </a>
    </div>
    <div class="push-left">
        <button id="menu-toggler" data-class="menu-active" class="hamburger">
            <span class="hamburger-line hamburger-line-top"></span>
            <span class="hamburger-line hamburger-line-middle"></span>
            <span class="hamburger-line hamburger-line-bottom"></span>
        </button>

        <!--  Menu compatible with wp_nav_menu  -->
        <ul id="primary-menu" class="menu nav-menu">
            {{ $currentPage := . }}
            {{ range .Site.Menus.main }}
            {{ if .HasChildren }}
                <li class="menu-item current-menu-item">
                    <a class="nav__link" href="{{.URL | relURL }}">
                        {{ .Pre }}
                        {{ .Name }}
                    </a>
                    <ul class="sub-nav">
                        {{ range .Children }}
                        <li class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
                            <a href="{{ .URL }}">{{ .Name }}</a>
                        </li>
                        {{ end }}
                    </ul>
                </li>
            {{else}}
                <li class="menu-item current-menu-item">
                    <a class="nav__link" href="{{.URL | relURL }}">
                        {{ .Pre }}
                        {{ .Name }}
                    </a>
                </li>
            {{ end }}
            {{ end }}
            <!--
            <li class="menu-item current-menu-item"><a class="nav__link" href="#">Home</a></li>
            <li class="menu-item dropdown"><a class="nav__link" href="#">About</a>
                <ul class="sub-nav">
                    <li><a class="sub-nav__link" href="#">link 1</a></li>
                    <li><a class="sub-nav__link" href="#">link 2</a></li>
                    <li><a class="sub-nav__link" href="#">link 3 - long link - long link - long link</a></li>
                </ul>
            </li>
            <li class="menu-item dropdown"><a class="nav__link" href="#">Contact</a>
                <ul class="sub-nav">
                    <li><a class="sub-nav__link" href="#">link 1</a></li>
                    <li><a class="sub-nav__link" href="#">link 2</a></li>
                    <li><a class="sub-nav__link" href="#">link 3 - long link - long link - long link</a></li>
                </ul>
            </li>
        -->
        </ul>
    </div>
</nav>