<header class="">
    <div class="container header">
        <div class="logo">
            <a href="{{ .Site.BaseURL }}">
                <img src="/images/logo-sm.png" alt="{{.Site.Title}}">
            </a>
        </div>
        <div class="book-online">
            <a class="btn btn-red-shadow" href="{{.Site.Data.contact.scheduleurl}}">
                {{ .Site.Data.contact.scheduleblurb }}
            </a>
        </div>
        <div class="header-phone">
            <a class="header-phone-number" href="tel:{{ .Site.Data.contact.phone }}">{{ .Site.Data.contact.phone }}</a>
            <span>{{ .Site.Data.contact.headerblurb }}</span>
        </div>
        <a id="mobile-menu__opener" class="mobile-menu__opener" href="#menu" role="button" tabindex="0">
            <span>Menu</span>
        </a>
        
        <div class="mobile-menu__screen"></div>
        <nav>
            <ul id="menu" class="menu">
                {{ $currentPage := . }}
                {{ range .Site.Menus.main }}
                <li>
                    <a class="menu__item" href="{{.URL | relURL }}">
                        {{ .Pre }}
                        {{ .Name }}
                    </a>
                </li>
                {{ end }}
            </ul>
        </nav>
    </div>

</header>