<!doctype html>
<html lang="{{ .Site.LanguageCode | default "en" }}">
    <head>

        <!-- Google Tag Manager -->
        <script>(function (w, d, s, l, i) {
                w[l] = w[l] || []; w[l].push({
                    'gtm.start':
                        new Date().getTime(), event: 'gtm.js'
                }); var f = d.getElementsByTagName(s)[0],
                    j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                        'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
            })(window, document, 'script', 'dataLayer', 'GTM-KV98FS7');</script>
        <!-- End Google Tag Manager -->
        {{ block "site/meta" . }}{{ partial "site/meta.html" . }}{{ end }}

        {{ range .AlternativeOutputFormats }}
            <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
        {{ end }}

        {{ block "site/styles" . }}{{ partial "site/styles.html" . }}{{ end }}

        <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
            
        {{ if .IsHome }}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
            {{ $a := resources.Get "js/slick-animate.js" | minify }}
            <script src="{{ $a.Permalink }}"></script>
        {{ end }}

        <!-- Start of HubSpot Embed Code -->
        <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/19615975.js"></script>
        <!-- End of HubSpot Embed Code -->
         
        {{ block "schema" . }}
        {{ end }}
        {{- $url := replace .Permalink ( printf "%s" ( "/" | absLangURL ) ) "" -}}
        {{- $url := replace .Permalink ( printf "%s" ( "/" | absLangURL ) ) "" -}}

        {{- $.Scratch.Add "path" ( "/" | absLangURL ) -}}
        {{- $.Scratch.Add "breadcrumb" (slice (dict "url" ( "/" | absLangURL ) "name" "home" "position" 1 )) -}}
        {{- range $index, $element := split $url "/" -}}
        {{- $.Scratch.Add "path" $element -}}
        {{- $.Scratch.Add "path" "/" -}}
        {{- if ne $element "" -}}
        {{- $.Scratch.Add "breadcrumb" (slice (dict "url" ($.Scratch.Get "path") "name" . "position" (add $index 2))) -}}
        {{- end -}}
        {{- end -}}
        <script type="application/ld+json">
            {
            "@context": "https://schema.org/",
            "@type": "ProfessionalService",
                "name": "Group Incentive Rewards, LLC",
                "telephone": "(800) 541-7250",
                "openingHours": "Su-Sa 00:00-23:59",
                "logo": "https://girewards.com/images/logo.png",
                "image": "https://girewards.com/images/logo.png",
                "url": "https://girewards.com",
                "priceRange" : "$$$",
                "areaServed" : "US",
                "address" : {
                "@type" : "PostalAddress",
                "streetAddress" : "",
                "addressLocality" : "Roseburg",
                "addressRegion" : "OR",
                "postalCode" : "97471"
                },
                  "geo": {
                    "@type": "GeoCoordinates",
                    "latitude": 43.2165,
                    "longitude": 123.3417
                },
                "description": "Group Incentive Rewards is a multi-level marketing firm that specializes in providing diverse and innovative incentive solutions to businesses of all sizes. We brand and customize all programs designed to increase sales, customer loyalty, and retention.",
                "sameAs": ["https://www.facebook.com/groupincentiverewards"]
            }
        </script>
        <script type="application/ld+json">
            {
            "@context": "http://schema.org",
            "@type": "BreadcrumbList",
            "itemListElement": [
            {{ range $.Scratch.Get "breadcrumb" }}
                {{ if ne .position 1 }},
            {{ end }}
            {
                    "@type": "ListItem",
                    "position": {{ .position }},
                    "item": {
                    "@id": "{{ .url }}",
                    "name": "{{ .name }}"
                    }
                }{{ end }}]
            }
        </script>
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
    </head>
    <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KV98FS7" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
        {{ block "header" . }}{{ partial "site/header.html" . }}{{ end }}

        <main class="site-main" role="main">

            {{ block "main" . }}{{ end }}

        </main>

        {{ block "footer" . }}{{ partial "site/footer.html" . }}{{ end }}

        {{ block "site/scripts" . }}{{ partial "site/scripts.html" . }}{{ end }}
    </body>
</html>