{{ define "main" }}
{{ $scheduleurl := .Site.Data.contact.scheduleurl }}
{{ $scheduleblurb := .Site.Data.contact.scheduleblurb }}
{{ partial "hero" (dict "imageUrl" .Params.image "title" .Params.pagetitle "scheduleurl" $.Site.Data.contact.scheduleurl "scheduleblurb" $.Site.Data.contact.scheduleblurb) }}
<div class="container-sm">
    {{ .Content  | safeHTML }}
    <div class="col col--sm-12">
        
        <form id="contact-form" action="https://submit-form.com/2qZl3r5AK72Or_qAtFbAb" method="post">
            <input type="text" name="Name" placeholder="Name" onblur="this.setAttribute('value', this.value);" value=""
                required>
            <input placeholder="Email address" type="email" name="_replyto" onblur="this.setAttribute('value', this.value);"
                value="" required>
            <textarea name="Message" cols="30" rows="6" placeholder="Message" required></textarea>
        
            <input type="text" name="_gotcha" style="display:none" />
            <input type="hidden" name="_next" value="/" />
            <input type="hidden" name="_subject" value="Contact from jhausotter.com">
            
            <div class="center" style="width: 50%;">
                <input class="btn btn-white" type="submit" value="Send Message">
            </div>
            
        </form>
    </div>
</div>

{{ end }}
