{{ define "main" }}
    {{ $scheduleurl := .Site.Data.contact.scheduleurl }}
    {{ $scheduleblurb := .Site.Data.contact.scheduleblurb }}
    {{ partial "hero" (dict "imageUrl" .Params.image "title" .Params.pagetitle "scheduleurl" $.Site.Data.contact.scheduleurl "scheduleblurb" $.Site.Data.contact.scheduleblurb) }}
    <div class="container-sm">
        {{ .Content  | safeHTML }}
        <a class="btn btn-lg btn-red-shadow" href="tel:{{ .Site.Data.contact.phone }}">{{.Site.Data.contact.phone}}</a>
    </div>

{{ end }}